.vscode/**
.git/**
.gitignore
.gitattributes
.trae/**
.uploads/**
.DS_Store
**/.DS_Store
node_modules/**
src/**
tsconfig.json
esbuild.js
jest.config.js
pnpm-lock.yaml
package-lock.json
yarn.lock
test*.js
dist/test/**
**/*.map
*.vsix
media/video.mp4
media/image.png
media/logo.png

